{% extends 'layouts/base.html' %}
{% block content %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-info text-white">
          <h1 class="card-title text-center" style="font-size: 1.8rem;">Change Password</h1>
        </div>
        <div class="card-body">
          <form method="post" enctype="multipart/form-data" class="p-4">
            {% csrf_token %}
            {% for field in form %}
              <div class="form-group">
                <label class="form-label">{{ field.label }}</label>
                {{ field }}
                {% for error in field.errors %}
                  <p class="alert alert-danger">{{ error }}</p>
                {% endfor %}
              </div>
            {% endfor %}
            <div class="text-center">
              <button type="submit" class="btn btn-info">Change Password</button>
              <a href="{% url 'edit.profile' user.id %}" class="btn btn-secondary">Back to Edit Profile</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .card {
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  .card-header {
    border-radius: 10px 10px 0 0;
  }
  
  .card-title {
    margin-bottom: 0.5rem;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }

  .form-label {
    font-weight: bold;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"] {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 0.5rem;
    width: 100%;
  }

  .btn {
    border-radius: 5px;
    margin-right: 10px;
  }
</style>

{% endblock %}
