{% extends 'layouts/base.html' %}
{% load static %}
{% block 'content' %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="card">
        <div class="card-header bg-info text-white">
          <h1 class="card-title text-center" style="font-size: 2rem;">Edit Profile</h1>
        </div>
        <div class="card-body">
          <form method="post" enctype="multipart/form-data" class="p-5">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="mb-3">
              <label for="id_first_name" class="form-label">First Name:</label>
              {{ form.first_name }}
              <small class="text-danger">{{ form.first_name.errors }}</small>
            </div>
            <div class="mb-3">
              <label for="id_last_name" class="form-label">Last Name:</label>
              {{ form.last_name }}
              <small class="text-danger">{{ form.last_name.errors }}</small>
            </div>
            <div class="mb-3">
              <label for="id_email" class="form-label">Email:</label>
              {{ form.email }}
              <small class="text-danger">{{ form.email.errors }}</small>
            </div>
            <div class="mb-3">
              <label for="id_mobile_phone" class="form-label">Mobile Phone:</label>
              {{ form.mobile_phone }}
              <small class="text-danger">{{ form.mobile_phone.errors }}</small>
            </div>
            <div class="mb-3">
              <label for="id_profile_picture" class="form-label">Profile Picture:</label>
              {{ form.profile_picture }}
              <small class="text-danger">{{ form.profile_picture.errors }}</small>
            </div>
            <div class="mb-3">
              <label for="id_birthdate" class="form-label">Birthdate:</label>
              {{ form.birthdate }}
              <small class="text-danger">{{ form.birthdate.errors }}</small>
            </div>
            <div class="mb-3">
              <label for="id_facebook_profile" class="form-label">Facebook Profile:</label>
              {{ form.facebook_profile }}
              <small class="text-danger">{{ form.facebook_profile.errors }}</small>
            </div>
            <div class="mb-3">
              <label for="id_country" class="form-label">Country:</label>
              {{ form.country }}
              <small class="text-danger">{{ form.country.errors }}</small>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-info">Save Changes</button>
              <a href="{% url 'view.profile' id %}" class="btn btn-secondary">Back to Profile</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'authentication/js/script.js'%}"></script>

<style>
  .card {
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  .card-header {
    border-radius: 10px 10px 0 0;
  }
  
  .card-title {
    margin-bottom: 0.5rem;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .btn {
    border-radius: 5px;
    margin-right: 10px;
  }
</style>

{% endblock %}
