{% extends 'layouts/base.html' %}
{% load static %} 
{% block 'content' %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow">
        <div class="card-header bg-info text-white">
          <h1 class="card-title text-center" style="font-size: 2rem; text-align: justify">User Profile</h1>
        </div>
        <div class="card-body">
          <div class="profile-picture text-center mb-4">
            <img
              src="{{ user.image_url }}"
              class="img-fluid rounded-circle"
              style="width: 150px; height: 150px"
              alt="Profile Picture"
            />
          </div>
          <h4 class="card-title text-center" style="font-size: 1.5rem">
            {{ user.first_name }} {{ user.last_name }}
          </h4>
          <hr class="my-4" />
          <div class="profile-details">
            <p><b>Email:</b> {{ user.email }}</p>
            <p><b>Phone:</b> {{ user.mobile_phone }}</p>
            <p><b>Birthdate:</b> {{ user.birthdate }}</p>
            <p>
              <b>Facebook Profile:</b>
              <a href="{{ user.facebook_profile }}">{{ user.facebook_profile }}</a>
            </p>
            <p><b>Country:</b> {{ user.country }}</p>
          </div>
          <div class="text-center mt-4">
            <a href="{% url 'edit.profile' user.id %}" class="btn btn-info">Edit Profile</a>
            <a href="{% url 'delete.account' user.id %}" class="btn btn-danger">Delete Profile</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .profile-picture img {
    border: 5px solid #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  }

  .profile-details p {
    font-size: 1.1rem;
  }
  
  .card-title {
    margin-bottom: 0.5rem;
  }
</style>

{% endblock %}
