{% extends 'layouts/base.html' %}
{% load static %}
{% block 'content' %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header bg-info text-white">
          <h1 class="card-title" style="font-size: 2rem;">User Profile</h1>
        </div>
        <div class="card-body">
        <!-- STILL WORKING ON IT -->
          <div class="text-center mb-4">
            <img src="{{user.image_url}}" style="width: 250px; height: 350px;" class="card-img-top" alt="...">
          </div>
        <!-- STILL WORKING ON IT -->
          <h4 class="card-title" style="font-size: 1.5rem;">{{ user.first_name }} {{ user.last_name }}</h4>
          <hr class="my-4">
          <p class="card-text"><b>Email:</b> {{ user.email }}</p>
          <p class="card-text"><b>Phone:</b> {{ user.mobile_phone }}</p>
          <p class="card-text"><b>Birthdate:</b> {{ user.birthdate }}</p>
          <p class="card-text"><b>Facebook Profile:</b> <a href="{{ user.facebook_profile }}">{{ user.facebook_profile }}</a></p>
          <p class="card-text"><b>Country:</b> {{ user.country }}</p>
          <div class="mt-4">
            <a href="{% url 'edit.profile' user.id %}" class="btn btn-info">Edit Profile</a>
            <a href="{% url 'delete.account' user.id %}" class="btn btn-danger">Delete Account</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'authentication/js/script.js'%}"></script>
{% endblock %}
