{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<h1>Category List</h1>
<ul>
    {% for category in categories %}
    <li>
        {{ category.name }}
        <form action="{% url 'update_category' category.id %}" method="get" style="display: inline;">
            <button type="submit">Update</button>
        </form>
        <form action="{% url 'delete_category' category.id %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit">Delete</button>
        </form>
    </li>
    {% endfor %}
</ul>
<a href="{% url 'create_category' %}">Create New Category</a>
{% endblock %}