{% extends 'layouts/base.html' %}
{% load static %}

{% block 'content' %}
<div class="container py-3">
    <h1 class="display-6 text-center mb-5">Add New Project</h1>
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card shadow">
                <div class="card-body">
                    <form id="post_form" method="post" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        {% for field in form.visible_fields %}
                            <div class="mb-3">
                                {{ field.label_tag }}
                                {{ field }}
                                {% for error in field.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                                {% if field.help_text %}
                                    <small class="form-text text-muted">{{ field.help_text }}</small>
                                {% endif %}
                            </div>
                        {% endfor %}

                        <!-- Image Field -->
                        <div class="mb-3">
                            <label for="id_files">Files:</label>
                            <input type="file" name="files" id="id_files" multiple required>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-primary btn-lg btn-block" type="submit" name="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
