{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<style>
    .card {
        border-radius: 15px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    .card-body {
        padding: 40px;
    }

    form {
        margin-bottom: 0;
    }

    label {
        font-weight: bold;
        color: #333;
    }

    .card-header {
        background-color: #f8f9fa;
        border-radius: 15px 15px 0 0;
        padding: 20px;
        text-align: center;
    }

    .card-title {
        font-size: 1.5rem;
        margin-bottom: 0;
    }

    .card-body {
        background-color: #fff;
    }
</style>

<div class="container py-3">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card shadow">
                <div class="card-header bg-info text-white">
                    <h1 class="card-title text-center" style="font-size: 2rem;">Add New Project</h1>
                </div>
                <div class="card-body">
                    <form id="post_form" method="post" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                        {% endfor %}
                        {% for field in form.visible_fields %}
                        <div class="mb-3">
                            {{ field.label_tag }}
                            {% if field.name == 'tags' %}
                            <select class="form-control" name="tags" multiple>
                                {% for tag in tags %}
                                <option value="{{ tag.id }}">{{ tag.name }}</option>
                                {% endfor %}
                            </select>
                            
                            {% else %}
                            {{ field }}
                            {% endif %}
                            {% for error in field.errors %}
                            <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                            {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                        </div>
                        {% endfor %}
                        <!-- Image Field -->
                        <div class="mb-3">
                            <label for="id_files">Files:</label>
                            <input type="file" name="files" id="id_files" class="form-control" multiple required>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-info btn-comment" type="submit" name="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}