{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

<div class="card">
    <div class="card-body">
        <h1 class="card-header bg-info text-white" style="font-size: 2rem;">Delete Project</h1>
        <hr class="my-4">
        <p class="card-text" style="font-size: large;">Are you Sure you Want to Delete Comment?</p>
        <hr class="my-4">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Confirm</button>
            <a href="{% url 'view_projects' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>

<script src="{% static 'authentication/js/script.js'%}"> </script>
{% endblock %}
