{% extends 'layouts/base.html' %}
{% load static %}
{% block 'content' %}

<style>
  #project-carousel {
    margin-top: 40px;
  }

  #project-carousel .carousel-inner {
    height: 420px;
  }

  .project-card {
    position: absolute;
    top: 150px;
    left: 250px;
    width: 60%;
    height: 60%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 10px;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .btn-view-project {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    border-color: white;
  }

  .card {
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    position: relative;
    overflow: hidden;
  }

  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    background-color: #e9ecef;
  }

  .card-body {
    padding: 20px;
  }

  .card-title {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }

  .card-details {
    padding-top: 8px;
    width: 100%;
  }

  .card-text {
    font-size: 15px;
    color: #656363;
    margin-bottom: 5px;
  }

  .tags-label {
    font-size: 1.3rem;
    font-weight: bold;
  }

  .tags {
    margin-top: 5px;
    list-style-type: none;
    padding: 0;
  }

  .tags li {
    display: inline-block;
    background-color: #902e2ed0;
    color: #f8f9fa;
    font-size: 12px;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 20px;
  }

  .tags li:last-child {
    margin-right: 0;
  }

  .custom-heading {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
    letter-spacing: 2px;
  }
</style>

<div id="project-carousel" class="carousel slide" data-bs-ride="carousel">
  {% if not top_projects %}
    <div class="alert alert-info text-center">There are currently no projects to display.</div>
  {% else %}
  <div class="carousel-inner">
    {% for project in top_projects %}
    <div class="carousel-item {% if forloop.first %}active{% endif %}">
      {% with first_image=project.image_set.all|first %}
      <img src="{{ first_image.file.url }}" alt="{{ project.title }}" style="width:100%; height: 400px;" >
      {% endwith %}
      <div class="project-card">
        <h2 style="font-size:50px">{{ project.title }}</h2>
        <p style="font-size: 20px;">{{ project.details }}</p>
        <div class="text-center mt-3">
          <a href="{% url 'project_page' project.id %}" class="btn btn-info btn-view-project" style="margin-top: 5px;">View Project</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#project-carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#project-carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  {% endif %}
</div>
<form method="GET" action="{% url 'search_projects' %}" class="form-inline mb-4">
  <div class="form-group">
    <input type="text" class="form-control mx-sm-3" id="search" name="search_query" placeholder="Search by Title or Tag" style="width: 60rem;">
  </div>
  <button type="submit" class="btn btn-info">Search</button>
</form>

<!-- our latest project -->
<h1 class="custom-heading">Our Latest Projects</h1>
<div class="row">
  {% if latest_projects %}
  {% for project in latest_projects %}
  <div class="col-md-4 mb-4">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">{{ project.title }}</h2>
        <p class="card-text"><strong>Details:</strong> {{ project.details }}</p>
        <p class="card-text"><strong>Total:</strong> {{ project.total }}</p>
        <p class="card-text">
          <strong>Category:</strong> {{ project.category.name }}
        </p>
        <div class="card-details">
          <p class="tags-label">Tags</p>
          <ul class="tags">
            {% for tag in project.tags.all %}
            <li>{{ tag.name }}</li>
            {% endfor %}
          </ul>
        </div>
        <div class="text-center mt-3">
          <a href="{% url 'project_page' project.id %}" class="btn btn-info btn-comment" style="margin-top: 5px;">View Project</a>
        </div>
      </div>
      <div class="card-footer">
        <div id="carousel-{{ project.id }}" class="carousel slide" data-bs-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            {% for image in project.image_set.all %}
            <li data-bs-target="#carousel-{{ project.id }}" data-bs-slide-to="{{ forloop.counter0 }}"
              {% if forloop.first %} class="active" {% endif %}></li>
            {% endfor %}
          </ol>
          <!-- Wrapper for slides -->
          <div class="carousel-inner" style="height: 200px;">
            {% for image in project.image_set.all %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}" style="height: 200px;">
              <img src="{{ image.file.url }}" alt="{{ project.title }}" style="object-fit: cover; width: 100%; height: 100%;" />
            </div>
            {% endfor %}
          </div>
          <!-- Left and right controls -->
          <button class="carousel-control-prev" type="button" data-bs-target="#carousel-{{ project.id }}" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carousel-{{ project.id }}" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  {% endif %}
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
