{% extends 'layouts/base.html' %}
{% load static %}

{% block 'content' %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <h1 class="text-center mb-4">All Projects</h1>
    <div class="row">
        {% for project in Projects %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">{{ project.title }}</h2>
                    <p class="card-text">{{ project.details }}</p>
                    <p class="card-text">Total: {{ project.total }}</p>
                    <p class="card-text">Category: {{ project.category.name }}</p>
                    <h3>Tags:</h3>
                    <ul class="list-unstyled">
                        {% for tag in project.tags.all %}
                        <li>{{ tag.name }}</li>
                        {% endfor %}
                    </ul>
                    <p class="card-text">Average Review: {{ project.averageReview }}</p>
                    <p class="card-text">Total Donated: {{ project.totalDonate }}</p>
                    <div class="text-center mt-3">
                        <a href="{% url 'project_page' project.id %}" class="btn btn-primary btn-comment">View Project</a>
                    </div>
                </div>

                <div class="card-footer">
                    <div id="carousel-{{ project.id }}" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            {% for image in project.image_set.all %}
                            <li data-target="#carousel-{{ project.id }}" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
                            {% endfor %}
                        </ol>
                        
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            {% for image in project.image_set.all %}
                            <div class="item {% if forloop.first %}active{% endif %}">
                                <img src="{{ image.image.url }}" alt="{{ project.title }}" style="width:100%;">
                            </div>
                            {% endfor %}
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#carousel-{{ project.id }}" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel-{{ project.id }}" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock %}
